

/* .bannerrrrrrrrrrrrrrrrrrrrrrrr */
.flow_web {
  width: 80%;
  margin: 0 auto;
  /* background-color: rebeccapurple; */
  padding-top: 30px;
  height: 13vh;
  margin-top: 100px;
}

.span1 {
  opacity: 0.6;
  font-weight: bold;
}

.span2 {
  /* opacity: 0.6; */
  font-weight: bold;
}

/* wrapper-content-productt */
main {
  width: 100%;
  min-height: 1100px;
  /* background-color: blueviolet; */
}

.wrapper-content-product {
  width: 80%;
  min-height: 1100px;
  margin: 0 auto;
  /* background-color: blanchedalmond; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}


/* rightttttttttttttttttttttttt */
.content-product-right {
  width: 100%;
  min-height: 500px;
  /* background-color: rgb(50, 122, 64); */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.wrapper-detail-product-top {
  width: 100%;
  min-height: 600px;
  /* background-color: rgb(86, 54, 16); */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.img_product_left_big {
  width: 40%;
  min-height: 440px;
}

.img_product_left_big > img {
  width: 100%;
  height: 440px;
  object-fit: cover;
}

.img_product_left_small {
  width: 100%;
  /* margin-top: 10px; */
  display: flex;
  justify-content: space-between;
}

.img_product_left_small img {
  margin-top: 5px;
  width: 24%;
  object-fit: cover;  
  height: 120px;
}
.img_product_left_small img:hover{
  border: 2px solid red;
  cursor: pointer;
}

.infomation_product_right_top {
  width: 50%;
  /* background-color: aquamarine; */
}

.infomation_product_right_top form img {
  width: 130px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.infomation_product_right_top form span {
  font-weight: bold;
  font-size: 1.7rem;
  /* margin-bottom: 0px; */
}

.infomation_product_right_top form sup {
  font-weight: bold;
  font-size: 1.8rem;
  opacity: 0.5;
  /* margin-bottom: 100px; */
}

.infomation_product_right_top form p{
  line-height: 30px;  
}

.p_122 {
  margin-top: 15px;
}

.infomation_product_right_top form p {
  margin-bottom: 20px;
}

.btn-product_right_top {
  width: 100%;
  border-top: 1px solid rgb(178, 175, 175);
  border-bottom: 1px solid rgb(178, 175, 175);
  padding-bottom: 20px;

  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-product_right_top>input[type='submit']{
  width: 48%;
  padding: 3vh;
  cursor: pointer;
  border: none;
  background-color: #000000;
  color: white;
  font-weight: bold;
}
.btn-product_right_top>input[type='button']{
  width: 48%;
  padding: 3vh;
  cursor: pointer;
  border: none;
  background-color: #389b4e;
  color: white;
  font-weight: bold;
}
.btn-product_right_top>input[type='button']:hover{
  background-color: #15701c;
  transition: all ease-in-out 0.3s;

}

.btn-product_right_top>input[type='submit']:hover{
  background-color: #323232;
  transition: all ease-in-out 0.3s;

}

#right_top_add{
  background-color: #e8363c;
}




.product_right_top-quality>p>input{
  border: 2px solid black;
  padding-left: 27px;
  font-weight: bold;
  width: 10vh;
}


.wrapper-detail-product-bot h1 {
  margin-top: 30px;
  font-size: 25px;
}





/* related productsssss  */

.detail-product-bot__related {
  width: 100%;
  /* min-height: 500px; */
}
.products-wrapper>form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

/* box sản phẩm */



.products-box{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 23%;
  /* min-height: 500px; */
  /* border: 1px solid black; */
}

.products-box>a{
  width: 100%;
}
.products-box__images{
  width: 100%;
  height: 300px;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.5s;
}

.products-box__images:hover{
  transform: scale(1.1);

}

.products-box__name{
  white-space: nowrap;   
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
  padding-top: 10px;
  font-size: 1rem;

}
.products-box__price{
  font-size: 1rem;
  font-weight: bold;
}

.products-box__price sup{
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 0.5;
}


.products-box__btn__buy{
  width: 48%;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  border: 2px solid black;
  background-color: #000000;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.products-box__btn__buy:hover{
    background-color: rgb(60, 60, 60);
    transition: all ease 0.3s;
  }

.products-box__btn__add{
    width: 48%;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    border: 2px solid black;
    background-color: #ffffff;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.products-box__btn__add:hover{
    background-color: rgb(160, 160, 160);
    border: 2px solid rgb(160, 160, 160);
    color: white;
    transition: all ease 0.3s;
  }



/* footerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */

/* overplayyyyyyyyyyyyyyyyy */
.nav-right-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.5s;
}

/* nav mobileeeeeeeeeeeeeee */
.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color: rgb(63, 62, 60);
  transform: translateX(100%);
  opacity: 0;
  transition: all linear 0.2s;
}

.nav-mobile-list {
  margin: 30px;
  list-style: none;
}

.nav-mobile-list li {
  margin-top: 20px;
}

.nav-mobile-link {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.nav-mobile-link:hover {
  color: red;
}

.nav-mobile-close {
  color: white;
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.nav-mobile-close:hover {
  color: red;
}

/* check inputt none  */
.nav-input-css {
  display: none;
}

.nav-input-css:checked ~ .nav-right-overlay {
  display: block;
}

.nav-input-css:checked ~ .nav-mobile {
  transform: translateX(0%);
  opacity: 1;
}

/* animation  */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* reponsiveeeeeee nav */

/* TABLET AND MOBILE  */
@media only screen and (max-width: 1040px) {
  .nav-right-btn-bars {
    display: block;
  }

  .nav-right-btn-search {
    display: none;
  }

  .nav-mid {
    display: none;
  }
}

/* mobile : width < 740px */
@media only screen and (max-width: 740px) {
  .nav-mid {
    display: none;
  }

  .nav-left {
    width: 50%;
  }

  .nav-right {
    width: 50%;
  }

  /* leftttttttttttttttttt */
  .content-product-left {
    /* display: none; */
  }

  /* rightttttttttttttttttt */
  
  /* .footerrrrrrrrrrr */

  footer {
    margin-top: 50px;
  }

  .detail-content-footer {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
