@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* margin: 0 auto; */
  /* width: 0; */
}

header {
  width: 100%;
  margin: 0 auto;
}

nav {
  width: 100%;
  margin: 0 auto;
  /* margin-top: 500px; */
  height: 13vh;
  /* --line-height: 100px; */
  z-index: 10;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  display: flex;
  background-color: rgb(255, 255, 255);
  /* opacity: 0.9; */
  background-color: black;
  color: white;
  box-shadow: 1px 1px 10px 1px rgb(72, 72, 72);
}

/* trái */
.nav-left {
  /* background-color: rgb(195, 133, 18); */
  display: flex;
  align-items: center;
  width: 25%;
}

.nav-left img {
  /* max-width: 50px; */
  width: 25vh;
  margin-left: 20px;
  /* margin-right: 10px; */
}

.nav-left i {
  font-weight: bold;
  /* position: absolute; */
  /* top: 50%; */
  /* right: 6%; */
  /* transform: translateY(-50%); */
}

.nav-mid {
  width:50%;
  /* background-color: aqua; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

.nav-mid ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding-left: 0px;
}


.nav-mid ul li a {
  color: white;

  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.nav-mid ul li a:hover {
  color: red;
}

/* phải  */
.nav-right {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: end;
  /* background-color: rgb(30, 45, 44); */
}

.nav-right a {
  color: black;
  /* margin-left: 20px; */
  font-size: 20px;
}

.nav-right a:hover {
  color: red;
}

/* sữa từ đây  */
.nav-right-btn i {
  color: white;

  font-size: 20px;
  position: relative;
  margin-right: 20px;
  /* margin-left: 20px; */

}

/* My account neee  */

.nav-right-btn > i > span {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-left: 5px;
}
.my_account {
  position: absolute;
  background-color: rgb(255, 255, 255);
  list-style: none;
  top: 21px;
  left: -10px; 
  padding-left: 0px;
  display: none;
}

.my_account > li > a {
  text-decoration: none;
  font-size: 14px;
}

.my_account > li > a:hover {
  color: white;
  font-weight: bold;
  transition: all ease 0.2s;
}


.my_account>li:hover {
  /* color: white; */
  background-color: rgb(0, 0, 0);
  transition: all ease 0.3s;
  cursor: pointer;
}

.nav-right-btn > i:hover > .my_account {
  display: block;
  cursor: pointer;
}

.my_account > li {
  border-bottom: 1px solid rgb(234, 234, 234);
  padding: 15px;
  width: 120px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

/* hết sữa  */

/* search  */

.nav-right-btn-search{
  background-color: rgb(0, 0, 0);
  border-radius: 30px;
  margin-right: 20px;
  border: none;

}
.nav-right-btn-search:hover{
  background-color: white;
}
.nav-right-btn-search:hover #nav-right-btn-search__input{
 transition: all 0.3s ease-in-out;
 width: 150px;
 padding: 8px; 
}
.nav-right-btn-search:hover #nav-right-btn-search__btn{
  background-color: #ffffff;
  color: black;
 }
.nav-right-btn-search>input[type = text]{
 /* padding: 8px;  */
 border: 1px solid black;
border-radius: 30px;
 border: none;
 background-color: #ffffff;
 color: rgb(0, 0, 0);
 cursor: pointer;
 font-size: 13px;
 margin: 0px;
 outline: none;
 width: 0px;

}

.nav-right-btn-search>button{
  padding: 2px 6px; 
  /* border: 5px solid black; */
  border-radius: 30px;
  border: none;
  background-color: #000000;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 19px;
  margin: 0px;
 
 }

.nav-right-btn-bars {
  margin-right: 20px;
  display: none;
}

.nav-right-btn-bars i {
  font-size: 20px;
  margin-right: 20px;
}

.nav-right-btn-bars i:hover {
  color: red;
}

/* Bannerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */
.banner_naa{
  margin-top: 90px;
}
.banner_na {
  width: 100%;
  margin-top: 100px;
  height: 500px;
  position: relative;
}

.canvas-ne {
  position: absolute;
  width: 100%;
  height: 100%;
}

.canvas-ne canvas {
  width: 100%;
  height: 100%;
}

.banner_na img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-1 {
  width: 100%;
  /* height: 500px; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  background-color: rgb(0, 0, 0);
}

.wrapprt_section1 {
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: rgb(59, 59, 58); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section1-detail {
  width: 25%;
  text-align: center;
  /* background-color: #E8363C; */
}

.section-1_icon {
  color: white;
  font-size: 2.2rem;
}

.section-1_title {
  font-size: 1.5rem;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section-1_content {
  font-size: 1rem;
  color: white;
  opacity: 0.7;
}

.carousel-inner__btn{
  padding: 15px 35px 15px 35px;
  border: none;
  background-color: rgb(35, 35, 35);
  color: white;
  font-weight: bold;
  top: 50%;
}
.carousel-inner__btn:hover{
  background-color: #767474;
  transition: all ease-in-out 0.3s;
}
.carousel-caption {
  bottom: 5%;
}




/* more productssssssss */


/* New prorduct sửaaaaaaaaaaa */
.container_all {
  width: 100%;
  /* margin: 0 auto; */
}





/* TRENDING PRODCUTTTTTTTTTTTTTTTTT  */
.search-category{
  margin: 0 auto;
  width: 80%;
  margin-bottom: 40px;
 

}

.search-category__img{
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-category__img img{
  margin-top: 30px;
  margin-bottom: 30px;

  width: 70vh;
}
.search-category__chose{
  flex-wrap: wrap;
  padding: 25px;
  background-color: aliceblue;
  /* width: 100%; */
  /* justify-content: space-between; */
}
.search-category__chose a{
  width: 17%;
  
}
.search-category__chose>a>img{
  transform: scale(1);
  transition: all 0.5s;
  width: 100%;
}

.search-category__chose img:hover{
  
  transform: scale(1.1);
  
}



  /* TREND PRODUCTTTTTTTTTTTTTTTT  */
  .trend-products{
    margin: 0 auto;
    width: 80%;
    min-height: 400px;
    /* background-color: antiquewhite; */
  }

  .trend-products--FAll{
    margin-top: 40px;
    margin-bottom: 40px;
    
  }
  .title__images__fall{
    width: 70vh;

  }
  .title__images{
    width: 70vh;
  }

.products-wrapper{
  flex-wrap: wrap;
}
  .products-box{
    position: relative;
    margin-top: 50px;
    width: 23%;
    /* height: 500px; */
    /* border: 1px solid black; */
  }
  .products-box{
    margin-right: 2%;
  }

  .products-box__view{
    width: 20%;
    position: absolute;
    margin: 0px;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .products-box__view>img{
    width: 100%;
  }
  .products-box__hot{
    width: 30%;
    position: absolute;
    margin: 0px;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .products-box__hot>img{
    width: 100%;
  }

  .products-box>a{
    width: 100%;
  }
  .products-box__images{
    width: 100%;
    height: 300px;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s;
  }

  .products-box__images:hover{
    transform: scale(1.1);

  }

  .products-box__name{
    white-space: nowrap;   
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
    padding-top: 10px;
    font-size: 1rem;

  }
  .products-box__price{
    font-size: 1rem;
    font-weight: bold;
  }

  .products-box__price sup{
    font-size: 1.2rem;
    font-weight: 300;
    opacity: 0.5;
  }
  
  
  
  .products-box__btn__buy{
    width: 48%;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    border: 2px solid black;
    background-color: #000000;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .products-box__btn__buy:hover{
      background-color: rgb(60, 60, 60);
      transition: all ease 0.3s;
    }

  .products-box__btn__add{
      width: 48%;
      padding: 5px 10px 5px 10px;
      font-weight: bold;
      border: 2px solid black;
      background-color: #ffffff;
      border-radius: 5px;
      color: rgb(0, 0, 0);
      cursor: pointer;
  }
  .products-box__btn__add:hover{
      background-color: rgb(230, 230, 230);
      border: 1px solid rgb(230, 230, 230);
      color: rgb(0, 0, 0);
      transition: all ease 0.3s;
    }

  

  



  /* TRENDING CATEGORYYYYYYYYYYYYYYY  */
.trend-category{
    margin: 0 auto;
    width: 80%;
    min-height: 400px;
    /* background-color: antiquewhite; */
  }

 .trend-category-content{
   flex-wrap: wrap;
   width: 100%;
  }

 

.trend-category-title>img{
  margin-top: 40px;
  margin-bottom: 40px;
  width: 70vh;
}


.category-content-left{
  width: 49%;
}

.category-content-left>a{
  position: relative;


}

.category-content-left__btn{
  z-index: 1;
  top: 50%;
  right: 50%;
  position: absolute;
  padding: 15px 35px 15px 35px;
  border: none;
  background-color: rgb(35, 35, 35);
  color: white;
  font-weight: bold;
}

.category-content-left__btn:hover{
  background-color: #767474;
  transition: all ease-in-out 0.5s;
}

.category-content-right{
  display: flex;
  justify-content: space-between;
  width: 49%;
}

.content-right__1images{
  width: 48%;
}
.content-right__1images>a{
  width: 100%;
  position: relative;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.content-right__2images>a{
  width: 100%;
  position: relative;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}



.content-right__2images{
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.content-right__2images>a{
  height: 48%;
}

.category-content-left>a>img{
  width: 100%;
    /* height: 300px; */
    object-fit: contain;
    transform: scale(1);
    transition: all 0.5s;
}

.category-content-left>a>img:hover{
  transform: scale(1.1);
}


.content-right__1images>a>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.5s;
}
.content-right__1images>a>img:hover{
  transform: scale(1.1);
  
}


.content-right__2images>a>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.5s;
}

.content-right__2images>a>img:hover{
  transform: scale(1.1);
  
}

  
  






/* articleeeeeeeeeeeee */


/* Popular Post */
.Popular-Post {
  margin-top: 40px;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  /* min-height: 500px; */
  /* background-color: antiquewhite; */
}

.title-Popular-Post {
  display: flex;
  margin-bottom: 60px;
  justify-content: center;
}

.title-Popular-Post img{
  width: 70vh;
  /* font-size: 30px; */
  /* font-weight: bold; */
}

.view-Popular-Post {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* min-height: 520px; */
}

.content-Popular-Post {
  width: 32%;
  /* height: 520px; */
}

.content-Popular-img {
  width: 100%;
  /* height: 250px; */
}

.content-Popular-Post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-Popular-Post a {
  text-decoration: none;
  color: black;
}

.content-Popular-Post a:hover {
  color: rgb(174, 68, 68);
}

.content-Popular-Post h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 15px;
  margin-bottom: 15px;
}

.content-Popular-Post p {
  margin-bottom: 1rem;
}

.content-Popular-img__note{
  display: flex;
  flex-direction: column;
  height: 70px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;

}
/* Newsletter-updates */
.Newsletter-updates {
  position: relative;
  width: 80%;
  min-height: 550px;
  margin: 0 auto;
  /* background-color: rgb(168, 150, 126); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Newsletter-updates > img {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper-Newsletter {
  position: absolute;
  width: 100%;
  /* min-height: 590px; */
  /* background-color: rgb(52, 29, 6); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-Newsletter {
  width: 60%;
  min-height: 90px;
  /* margin: 0 auto; */
  /* background-color: rgb(103, 32, 8); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-Newsletter {
  width: 100%;
  display: flex;
}

.row1 h1 {
  color: white;
  font-size: 37px;
}

.row2 {
  /* width: 100%; */
  text-align: center;
  color: white;
  font-size: 20px;
}

.btn-Newsletter1 {
  width: 68%;
  padding: 15px;
  font-size: 0.8rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-Newsletter2 {
  width: 29%;
  margin-left: 5px;
  padding: 15px;
  font-size: 0.8rem;
  background-color: #000000;
  color: white;
  border: none;
}

.btn-Newsletter2:hover {
  background-color: #bc363b;
}


/* footerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr */

footer {
  width: 100%;
  /* min-height: 740px; */
  background-color: #000000;
}

.wrapper-footer1 {
  width: 80%;
  margin-top: 70px;
  padding-top: 70px;
  margin: 0 auto;
  /* background-color: rgb(158, 156, 151); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-footer2 {
  width: 80%;
  min-height: 290px;
  margin: 0 auto;
  /* background-color: rgb(49, 103, 179); */
}

.content-footer {
  flex-wrap: wrap;
  width: 100%;
  min-height: 280px;
  margin: 0 auto;
  /* background-color: rgb(83, 75, 63); */
  display: flex;
  justify-content: space-between;
}

.detail-content-footer {
  width: 18%;
  min-height: 280px;

  margin-left: 1px;
}

.footer--imglogo>img{
  width: 100%;
}



.detail-content-footer h3 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.detail-content-footer p {
  line-height: 25px;
  color: white;
  font-size: 1rem;
  opacity: 0.7;
  margin-bottom: 9px;
}

.logo-footer {
  min-height: 150px;
  /* background-color: #000000; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer__icon>i{
  font-size: 2rem;
  margin-right: 15px;
}



.license {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;

}

.license {
  color: white;
}

/* overplay */
.nav-right-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.5s;
}

/* nav mobileeeeeeeeeeeeeee */
.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color: rgb(63, 62, 60);
  transform: translateX(100%);
  opacity: 0;
  transition: all linear 0.2s;
}

.nav-mobile-list {
  margin: 30px;
  list-style: none;
}

.nav-mobile-list li {
  margin-top: 20px;
}

.nav-mobile-link {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.nav-mobile-link:hover {
  color: red;
}

.nav-mobile-close {
  color: white;
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.nav-mobile-close:hover {
  color: red;
}

/* check inputt none  */
.nav-input-css {
  display: none;
}

.nav-input-css:checked ~ .nav-right-overlay {
  display: block;
}

.nav-input-css:checked ~ .nav-mobile {
  transform: translateX(0%);
  opacity: 1;
}

/* animation  */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* reponsiveeeeeee nav */
/* be hơn 960px thì 2 cột nè  */
@media only screen and (max-width: 960px) {
}

/* be hôn 600px thì 1 cột  */
@media only screen and (max-width: 600px) {
}

/* TABLET AND MOBILE  */
@media only screen and (max-width: 1040px) {
  .nav-right-btn-bars {
    display: block;
  }

  .nav-right-btn-search {
    display: none;
  }

  .nav-mid {
    display: none;
  }
}

/* mobile : width < 740px */
@media only screen and (max-width: 740px) {
  .nav-mid {
    display: none;
  }

  .nav-left {
    width: 50%;
  }

  .nav-right {
    width: 50%;
  }

  .banner_na {
    height: auto;
  }

  .section1-detail {
    width: 40%;
  }

  .section1-detail {
    margin-bottom: 30px;
  }

  .product-Favourite {
    width: 100%;
    margin-bottom: 20px;
  }

  .new-Favourite {
    /* margin-top: 50px; */
    margin-bottom: 50px;
  }

  .detail-product-more {
    width: 100%;
    margin-bottom: 40px;
  }


  /* Mé nùuuuuuuuuuuuuuuuuuu */
  .search-category__chose a{
    width: 47%;
    margin-top: 10px;
    
  }

  /* TRENDING PRODUCTTTTTTTTT  */
  .products-box{
    width: 100%;
  }


  .category-content-left{
    width: 100%;
    margin-bottom: 10px;
  }
  .category-content-right{
    width: 100%;
  }



  /* New-arruvaslllllllllllllllllllll */

  .prodcut-quality-left {
    width: 100%;
  }

  .prodcut-quality-left {
    margin-top: 300px;
  }

  .prodcut-qualityfa-right {
    width: 100%;
    margin-top: 320px;
  }

  /* infomationnnnnnnnnnnnnnnnn */

  .information-ceo {
    width: 100%;
    margin-top: 100px;
  }

  /* popular-posttttttttttttttttttt  */
  .Popular-Post {
    margin-top: 50px;
  }

  .content-Popular-Post {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  .wrapper-Newsletter {
    text-align: center;
  }

  .row1 h1 {
    font-size: 27px;
  }

  .content-Newsletter p {
    font-size: 15px;
  }

  .content-Newsletter {
    width: 90%;
  }

  .btn-Newsletter1 {
    font-size: 10px;
  }

  .btn-Newsletter2 {
    font-size: 10px;
  }

  /* .introducaiton */
  .introducation-detail {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
  }

  .detail4 {
    /* text-align: center; */
    margin-left: 0px;
    margin-bottom: 0px;
  }

  /* footer  */
  .content-footer {
    margin-top: 100px;
  }

  .detail-content-footer {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    /* background-color: #4f2e2e; */
  }
}

/* tablet width >= 740 and width < 1024px  */
@media only screen and (min-width: 740px) and (max-width: 1024px) {
}
