<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="../img/logo.jpg">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
        <link rel="stylesheet" href="../css/DetailProducts.css">
        <title>Products Detail1</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-left">
                    <a href="../index.html"><img src="../img/logoOnly.jpg" alt></a>
                    <i> NOAT Store </i>
                </div>
                <div class="nav-mid">
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="./products.html">Product</a></li>
                        <li><a href="./service.html">Service</a></li>
                        <li><a href="./aboutUS.html">About US</a></li>
                        <li><a href="./News.html">News</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="nav-right">
                    <div class="nav-right-btn">
                        <a href="./User.html"><i class="fa-regular fa-circle-user"></i></a>
                        <a href="./Cart.html"><i class="fa-solid fa-cart-plus fa-beat"></i></a>
                    </div>

                    <div class="nav-right-btn-search">
                        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </div>
                    <!-- barsssssssssssssss -->
                    <label for="nav-mobile-input" class="nav-right-btn-bars">
                        <i class="fa-solid fa-bars"></i>
                    </label>
                </div>

                <!-- check input  -->
                <input type="checkbox" class="nav-input-css" id="nav-mobile-input">

                <!-- over play  -->
                <label for="nav-mobile-input" class="nav-right-overlay"></label>

                <!-- nav mobileeeeeeeeeeeeee -->
                <div class="nav-mobile">
                    <!-- closessss  -->
                    <label for="nav-mobile-input" class="nav-mobile-close">
                        <i class="fa-solid fa-xmark"></i>
                    </label>
                    <ul class="nav-mobile-list">
                        <li><a class="nav-mobile-link" href="../index.html">Home</a></li>
                        <li><a class="nav-mobile-link" href="./products.html">Product</a></li>
                        <li><a class="nav-mobile-link" href="./service.html">Service</a></li>
                        <li><a class="nav-mobile-link" href="./aboutUS.html">About US</a></li>
                        <li><a class="nav-mobile-link" href="./News.html">News</a></li>
                        <li><a class="nav-mobile-link" href="./contact.html">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- bannerrrrrrrrrrrrrrrrrrrrrrrrrrrrr -->
        <section class="flow_web">
            <span class="span1">Home / Non La /</span> <span class="span2">Elengant bag</span>
        </section>

        <main>
            <div class="wrapper-content-product">
                <!-- left  -->
                <div class="content-product-left">
                    <div class="detail-product-left">
                        <span>Top rated products</span>
                        <!-- 1 -->
                        <div class="Top-rated-products">
                            <div class="img-Top-rated">
                                <a href><img src="../img/NonLa.png" alt></a>
                            </div>
                            <div class="content-Top-rated">
                                <a href="#"><p>Quartz Watch</p></a>
                                <img src="../img/Star.png">
                                <p>$50.00 <sup>$80.000</sup></p>
                            </div>
                        </div>
                        <!-- 2 -->
                        <div class="Top-rated-products">
                            <div class="img-Top-rated">
                                <a href><img src="../img/Tshirt.png" alt></a>
                            </div>
                            <div class="content-Top-rated">
                                <a href="#"><p>Quartz Watch</p></a>
                                <img src="../img/Star.png">
                                <p>$50.00 <sup>$80.000</sup></p>
                            </div>
                        </div>
                        <!-- 3 -->
                        <div class="Top-rated-products">
                            <div class="img-Top-rated">
                                <a href><img src="../img/shoe2.webp" alt></a>
                            </div>
                            <div class="content-Top-rated">
                                <a href="#"><p>Quartz Watch</p></a>
                                <img src="../img/Star.png">
                                <p>$50.00 <sup>$80.000</sup></p>
                            </div>
                        </div>
                        <!-- 4 -->
                        <div class="Top-rated-products">
                            <div class="img-Top-rated">
                                <a href><img src="../img/shoe1.jpg" alt></a>
                            </div>
                            <div class="content-Top-rated">
                                <a href="#"><p>Quartz Watch</p></a>
                                <img src="../img/Star.png">
                                <p>$50.00 <sup>$80.000</sup></p>
                            </div>
                        </div>
                        <!-- 5 -->
                        <div class="Top-rated-products">
                            <div class="img-Top-rated">
                                <a href><img src="../img/NonLa.png" alt></a>
                            </div>
                            <div class="content-Top-rated">
                                <a href="#"><p>Quartz Watch</p></a>
                                <img src="../img/Star.png">
                                <p>$50.00 <sup>$80.000</sup></p>
                            </div>
                        </div>
                    </div>

                    <section class="more-Top-rated">
                        <div class="content-more-Top">
                            <h2>New Cloth Technologies</h2>
                            <p>Mauris vitae ultricies leo integer malesuada. Odio tempor orci
                                dapibus ultrices in.</p>
                            <p>Egestas diam in arcu cursus euismod dictum purus viverra accumsan in
                                nisl.</p>
                            <p>Alice Autumn, CEO</p>
                        </div>
                    </section>

                </div>
                <!-- right  -->
                <div class="content-product-right">
                    <!-- top  -->
                    <div class="wrapper-detail-product-top">
                        <!-- 1 -->
                        <div class="img_product_left_big">
                            <img src="../img/NonLa.png" id="anh">
                            <div class="img_product_left_small">

                                <img onmouseover="one_over()" onmouseout="one_out()"
                                    src="../img/Nonla_1.jpg" alt>
                                <img onmouseover="one_over2()" onmouseout="one_out()"
                                    src="../img/Nonla_2.jpg" alt>
                                <img onmouseover="one_over3()" onmouseout="one_out()"
                                    src="../img/Nonla_3.jpg" alt>

                            </div>
                        </div>
                        <div class="infomation_product_right_top">
                            <h1>Black T-shirt</h1>
                            <img src="../img/Star.png" alt> <br>
                            <span>$50.00</span> <sup><strike>80$</strike></sup>
                            <p class="p_122">Enim sed faucibus turpis in eu. Viverra suspendisse
                                potenti nullam ac
                                tortor vitae purus faucibus.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque.
                                Placerat orci nulla pellentesque dignissim enim sit amet venenatis
                                urna. Pulvinar etiam non quam lacus.</p>
                            <p>Magna etiam tempor orci eu lobortis. Eget nunc scelerisque viverra
                                mauris in aliquam sem fringilla ut.232323</p>
                            <div class="btn-product_right_top">
                                <input type="number" min="1" max="1000" value="1">
                                <button>Add to cart</button>
                            </div>

                        </div>
                    </div>

                    <!-- bottom 1 -->
                    <div class="wrapper-detail-product-bot">
                        <h1>Description</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Quam nulla porttitor
                            massa id.</p>

                        <p>Lacus sed turpis tincidunt id. Lectus nulla at volutpat diam ut venenatis
                            tellus in. Arcu dictum varius duis at consectetur lorem. Ultrices mi
                            tempus imperdiet nulla malesuada pellentesque elit eget gravida.</p>

                        <p>Quis risus sed vulputate odio. Mauris rhoncus aenean vel elit scelerisque
                            mauris. Penatibus et magnis dis parturient montes nascetur ridiculus mus
                            mauris. Vitae purus faucibus ornare suspendisse sed nisi lacus.
                            Pellentesque elit eget gravida cum sociis natoque.</p>
                    </div>
                    <!-- bottom 2 -->
                    <div class="wrapper-detail-product-bot">
                        <h1>Related Products</h1>
                        <div class="wrapper_relatred_product">
                            <!-- 1 -->
                            <div class="related_product1">
                                <a href="../page/Detail-product1.html">
                                    <img src="../img/NonLa.png" alt>
                                </a>
                                <p>$50</p>
                                <a href="../page/Detail-product1.html">
                                    <p>Non La</p>
                                </a>
                                <div class="button_submit">
                                    <input type="submit" value="Add to cart">
                                    <input type="number" min="1" max="1000" value="1">
                                </div>
                            </div>
                            <!-- 2 -->
                            <div class="related_product1">
                                <a href="../page/Detail-product1.html">
                                    <img src="../img/NonLa.png" alt>
                                </a>
                                <p>$50</p>
                                <a href="../page/Detail-product1.html">
                                    <p>Non La</p>
                                </a>
                                <div class="button_submit">
                                    <input type="submit" value="Add to cart">
                                    <input type="number" min="1" max="1000" value="1">
                                </div>
                            </div>
                            <!-- 3 -->
                            <div class="related_product1">
                                <a href="../page/Detail-product1.html">
                                    <img src="../img/NonLa.png" alt>
                                </a>
                                <p>$50</p>
                                <a href="../page/Detail-product1.html">
                                    <p>Non La</p>
                                </a>
                                <div class="button_submit">
                                    <input type="submit" value="Add to cart">
                                    <input type="number" min="1" max="1000" value="1">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>

        <!-- footerrrrrrrrrrrrrrrrrrrrr  -->
        <footer>
            <div class="wrapper-footer1">
                <div class="content-footer">
                    <!-- 1 -->
                    <div class="detail-content-footer footer1">
                        <h3>About Us</h3>
                        <p>Mauris vitae ultricies leo integer
                            malesuada.
                            Odio tempor orci dapibus ultrices in. Egestas diam in arcu cursus
                            euismod.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt.</p>
                    </div>
                    <!-- 2 -->
                    <div class="detail-content-footer">
                        <h3>Account</h3>
                        <p>My Account</p>
                        <p>My Wishlist</p>
                        <p>My Cart</p>
                        <p>Sign in</p>
                        <p>Check out</p>
                    </div>
                    <!-- 3 -->
                    <div class="detail-content-footer">
                        <h3>Shipping</h3>
                        <p>New Products</p>
                        <p>Best Sellers</p>
                        <p>Manufacturers</p>
                        <p>Suppliers</p>
                        <p>Specials</p>
                    </div>
                    <!-- 4 -->
                    <div class="detail-content-footer">
                        <h3>Contact Us</h3>
                        <p>Phone: (+63) 555 1212</p>
                        <p>Fax: (+63) 555 0100</p>
                        <p>New York,96th Street, NY 10129</p>
                    </div>

                </div>
            </div>
            <!-- 2 -->
            <div class="wrapper-footer2">
                <div class="logo-footer">
                    <img src="../img/./logoOnly.jpg">
                    <span>NOAT Store</span>
                </div>
                <div class="license">
                    <p>2023 - coder by NTT</p>
                </div>
            </div>
        </footer>

        <script src="../js/DetailProduct.js"></script>
    </body>
</html>