<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="./img/logo.jpg">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
        <link rel="stylesheet" href="../layout/asset/css/News.css">
        <title>News</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-left">
                    <a href="../index.html"><img src="./img/logoOnly.jpg" alt></a>
                    <i> NOAT Store </i>
                </div>
                <div class="nav-mid">
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="./products.html">Product</a></li>
                        <li><a href="./service.html">Service</a></li>
                        <li><a href="./aboutUS.html">About US</a></li>
                        <li><a href="./News.html">News</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="nav-right">
                    <div class="nav-right-btn">
                        <i class="fa-regular fa-circle-user">
                            <ul class="my_account">
                                <li><a href="../page/my_account.html">My Account</a></li>
                                <li><a href="../page/User.html">Login</a></li>
                                <li><a href="../page/SignUp.html">Signup</a></li>
                            </ul>
                            <span>Login</span>
                        </i>
                        <a href="../page/Cart.html"><i class="fa-solid fa-cart-plus fa-beat"></i></a>
                    </div>

                    <div class="nav-right-btn-search">
                        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </div>
                    <!-- barsssssssssssssss -->
                    <label for="nav-mobile-input" class="nav-right-btn-bars">
                        <i class="fa-solid fa-bars"></i>
                    </label>
                </div>

                <!-- check input  -->
                <input type="checkbox" class="nav-input-css" id="nav-mobile-input">

                <!-- over play  -->
                <label for="nav-mobile-input" class="nav-right-overlay"></label>

                <!-- nav mobileeeeeeeeeeeeee -->
                <div class="nav-mobile">
                    <!-- closessss  -->
                    <label for="nav-mobile-input" class="nav-mobile-close">
                        <i class="fa-solid fa-xmark"></i>
                    </label>
                    <ul class="nav-mobile-list">
                        <li><a class="nav-mobile-link" href="../index.html">Home</a></li>
                        <li><a class="nav-mobile-link" href="./Cart.html">Product</a></li>
                        <li><a class="nav-mobile-link" href="./service.html">Service</a></li>
                        <li><a class="nav-mobile-link" href="./aboutUS.html">About US</a></li>
                        <li><a class="nav-mobile-link" href="./News.html">News</a></li>
                        <li><a class="nav-mobile-link" href="./contact.html">Contact</a></li>
                    </ul>
                </div>
            </nav>

            <section class="banner">
                <div class="title-product-main">
                    <p>Home / <span>News</span> </p>
                    <h1>News</h1>
                </div>
            </section>
        </header>

        <main>
            <!-- 2 -->
            <section class="Popular-Post">
                <div class="view-Popular-Post">
                    <!-- 1 -->
                    <div class="content-Popular-Post">
                        <div class="content-Popular-img">
                            <a href><img src="./img/post1-1.webp" alt></a>
                        </div>
                        <a href="#"><h3>Lobortis Elementum Nibhtellus Molestie Mauris</h3></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore…</p>
                        <p>IN LIFESTY / ON LEONDECEMBER 24, 2021</p>
                    </div>
                    <!-- 2 -->
                    <div class="content-Popular-Post">
                        <div class="content-Popular-img">
                            <a href><img src="./img/post-2.webp" alt></a>
                        </div>
                        <a href="#"><h3>Lobortis Elementum Nibhtellus Molestie Mauris</h3></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore…</p>
                        <p>IN LIFESTY / ON LEONDECEMBER 24, 2021</p>
                    </div>
                    <!-- 3 -->
                    <div class="content-Popular-Post">
                        <div class="content-Popular-img">
                            <a href><img src="./img/post-3.webp" alt></a>
                        </div>
                        <a href="#"><h3>Lobortis Elementum Nibhtellus Molestie Mauris</h3></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore…</p>
                        <p>IN LIFESTY / ON LEONDECEMBER 24, 2021</p>
                    </div>
                    <!-- 4 -->
                    <div class="content-Popular-Post">
                        <div class="content-Popular-img">
                            <a href><img src="./img/post-4.webp" alt></a>
                        </div>
                        <a href="#"><h3>Lobortis Elementum Nibhtellus Molestie Mauris</h3></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore…</p>
                        <p>IN LIFESTY / ON LEONDECEMBER 24, 2021</p>
                    </div>
                    <!-- 5 -->
                    <div class="content-Popular-Post">
                        <div class="content-Popular-img">
                            <a href><img src="./img/post-5.webp" alt></a>
                        </div>
                        <a href="#"><h3>Lobortis Elementum Nibhtellus Molestie Mauris</h3></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore…</p>
                        <p>IN LIFESTY / ON LEONDECEMBER 24, 2021</p>
                    </div>
                    <!-- 6 -->
                    <div class="content-Popular-Post">
                        <div class="content-Popular-img">
                            <a href><img src="./img/post-6.webp" alt></a>
                        </div>
                        <a href="#"><h3>Lobortis Elementum Nibhtellus Molestie Mauris</h3></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore…</p>
                        <p>IN LIFESTY / ON LEONDECEMBER 24, 2021</p>
                    </div>
                </div>
            </section>
        </main>

        <!-- footerrrrrrrrrrrrrrrrrrrrr  -->
        <footer>
            <div class="wrapper-footer1">
                <div class="content-footer">
                    <!-- 1 -->
                    <div class="detail-content-footer footer1">
                        <h3>About Us</h3>
                        <p style="margin-bottom: 18px;">Mauris vitae ultricies leo integer
                            malesuada.
                            Odio tempor orci dapibus ultrices in. Egestas diam in arcu cursus
                            euismod.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt.</p>
                    </div>
                    <!-- 2 -->
                    <div class="detail-content-footer">
                        <h3>Account</h3>
                        <p>My Account</p>
                        <p>My Wishlist</p>
                        <p>My Cart</p>
                        <p>Sign in</p>
                        <p>Check out</p>
                    </div>
                    <!-- 3 -->
                    <div class="detail-content-footer">
                        <h3>Shipping</h3>
                        <p>New Products</p>
                        <p>Best Sellers</p>
                        <p>Manufacturers</p>
                        <p>Suppliers</p>
                        <p>Specials</p>
                    </div>
                    <!-- 4 -->
                    <div class="detail-content-footer">
                        <h3>Contact Us</h3>
                        <p>Phone: (+63) 555 1212</p>
                        <p>Fax: (+63) 555 0100</p>
                        <p>New York,96th Street, NY 10129</p>
                    </div>

                </div>
            </div>
            <!-- 2 -->
            <div class="wrapper-footer2">
                <div class="logo-footer">
                    <img src="./img/logoOnly.jpg">
                    <span>NOAT Store</span>
                </div>
                <div class="license">
                    <p>2023 - coder by NTT</p>
                </div>
            </div>
        </footer>

    </body>
</html>