<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="../img/logo.jpg">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
        <link rel="stylesheet" href="../css/Service.css">
        <title>Service</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-left">
                    <a href="../index.html"><img src="../img/logoOnly.jpg" alt></a>
                    <i> NOAT Store </i>
                </div>
                <div class="nav-mid">
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="./products.html">Product</a></li>
                        <li><a href="./service.html">Service</a></li>
                        <li><a href="./aboutUS.html">About US</a></li>
                        <li><a href="./News.html">News</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="nav-right">
                    <div class="nav-right-btn">
                        <i class="fa-regular fa-circle-user">
                            <ul class="my_account">
                                <li><a href="../page/my_account.html">My Account</a></li>
                                <li><a href="../page/User.html">Login</a></li>
                                <li><a href="../page/SignUp.html">Signup</a></li>
                            </ul>
                            <span>Login</span>
                        </i>
                        <a href="../page/Cart.html"><i class="fa-solid fa-cart-plus fa-beat"></i></a>
                    </div>

                    <div class="nav-right-btn-search">
                        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </div>
                    <!-- barsssssssssssssss -->
                    <label for="nav-mobile-input" class="nav-right-btn-bars">
                        <i class="fa-solid fa-bars"></i>
                    </label>
                </div>

                <!-- check input  -->
                <input type="checkbox" class="nav-input-css" id="nav-mobile-input">

                <!-- over play  -->
                <label for="nav-mobile-input" class="nav-right-overlay"></label>

                <!-- nav mobileeeeeeeeeeeeee -->
                <div class="nav-mobile">
                    <!-- closessss  -->
                    <label for="nav-mobile-input" class="nav-mobile-close">
                        <i class="fa-solid fa-xmark"></i>
                    </label>
                    <ul class="nav-mobile-list">
                        <li><a class="nav-mobile-link" href="../index.html">Home</a></li>
                        <li><a class="nav-mobile-link" href="./Cart.html">Product</a></li>
                        <li><a class="nav-mobile-link" href="./service.html">Service</a></li>
                        <li><a class="nav-mobile-link" href="./aboutUS.html">About US</a></li>
                        <li><a class="nav-mobile-link" href="./News.html">News</a></li>
                        <li><a class="nav-mobile-link" href="./contact.html">Contact</a></li>
                    </ul>
                </div>
            </nav>

            <div class="wrapper-banner">
                <section class="banner">
                    <div class="title-product-main">
                        <p>Home / <span>Service</span></p>
                        <h1>Our Services</h1>
                    </div>
                </section>
                <section class="introducaiton">
                    <!-- 1 -->
                    <div class="content-introducation">
                        <div class="detail-introducation">
                            <div class="icon-introducation">
                                <i class="fa-brands fa-cloudflare"></i>
                                <h4>Personal Stylist</h4>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
                                quaerat ducimus libero praesentium quas expedita, accusamus harum,
                                incidunt asperiores vel obcaecati eaque eius porro quos sequi id
                                dignissimos illo sapiente!</p>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="content-introducation">
                        <div class="detail-introducation">
                            <div class="icon-introducation">
                                <i class="fa-solid fa-shirt"></i>
                                <h4>Cloth Assortiment</h4>
                            </div>
                            <p> incidunt asperiores vel obcaecati eaque eius porro quos sequi id
                                dignissimos illo ultricies ultrices
                                nullaorbi blandit</p>
                        </div>
                    </div>
                    <!-- 3 -->
                    <div class="content-introducation">
                        <div class="detail-introducation">
                            <div class="icon-introducation">
                                <i class="fa-solid fa-ruler-combined"></i>
                                <h4>Taking Measurements</h4>
                            </div>
                            <p style="margin-left: 50px;">Fusce at nisi eget dolor rhoncus
                                facilisis. Mauris ante nisl,
                                consectetur et luctus et, porta ut dolorurabitur ultricies ultrices
                                nullaorbi blandit</p>
                        </div>
                    </div>
                    <!-- 4 -->
                    <div class="content-introducation">
                        <div class="detail-introducation">
                            <div class="icon-introducation">
                                <i class="fa-solid fa-soap"></i>
                                <h4>Dry Cleaning</h4>
                            </div>
                            <p style="margin-left: 50px;">Fusce at nisi eget dolor rhoncus
                                facilisis. Mauris ante nisl,
                                consectetur et luctus et, porta ut dolorurabitur ultricies ultrices
                                nullaorbi blandit</p>
                        </div>
                    </div>
                </section>
            </div>
        </header>

        <main>
            <section class="section2">
                <div class="space-st2"></div>
                <div class="content-st2">
                    <div class="detail-st2-left">
                        <img src="../img/services-image-1.webp" alt>
                    </div>
                    <div class="detail-st2-right">
                        <span>OUR MISSION</span>
                        <h1>Your Personal <br> Styling Team <br> Always Here</h1>
                        <p>Integer at faucibus urna. Nullam condimentum leo id elit sagittis auctor.
                            Curabitur elementum nunc a leo imperdiet, nec elementum diam elementum.
                            Etiam elementum euismod commodo. Proin eleifend eget quam ut efficitur.
                            Mauris a accumsan mauris. Phasellus egestas et risus sit amet hendrerit.
                            Nulla facilisi.</p>
                        <input type="button" value="MORE DETAILS">
                    </div>
                </div>
            </section>

            <section class="section3">
                <div class="space-st3"></div>
                <div class="content-st3">
                    <div class="detail-st3-left">
                        <img src="../img/services-image-2_optimized.webp" alt>
                    </div>
                    <div class="detail-st3-right">
                        <span>OUR MISSION</span>
                        <h1>Condimentum Mattis Pellentesque Bibendum</h1>
                        <p>Integer at faucibus urna. Nullam condimentum leo id elit sagittis auctor.
                            Curabitur elementum nunc a leo imperdiet, nec elementum diam elementum.
                            Etiam elementum euismod commodo.</p>
                        <!-- <input type="button" value="MORE DETAILS"> -->
                    </div>
                </div>
            </section>

            <!--setionnnnnnnnnnnnnnnn 4 -->
            <section class="Newsletter-updates">
                <div class="wrapper-Newsletter">
                    <div class="content-Newsletter">
                        <div class="content-Newsletter row1">
                            <h1>Newsletter Updates</h1>
                        </div>
                        <div class="content-Newsletter row2">
                            <p>Subscribe to receive emails on new product arrivals & special offers</p>
                        </div>
                        <div class="content-Newsletter row3">
                            <div class="btn-Newsletter">
                                <input class="btn-Newsletter1" type="email"
                                    placeholder="Email address">
                                <input class="btn-Newsletter2" type="button" value="Subscribe">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>

        <!-- footerrrrrrrrrrrrrrrrrrrrr  -->
        <footer>
            <div class="wrapper-footer1">
                <div class="content-footer">
                    <!-- 1 -->
                    <div class="detail-content-footer footer1">
                        <h3>About Us</h3>
                        <p style="margin-bottom: 18px;">Mauris vitae ultricies leo integer
                            malesuada.
                            Odio tempor orci dapibus ultrices in. Egestas diam in arcu cursus
                            euismod.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt.</p>
                    </div>
                    <!-- 2 -->
                    <div class="detail-content-footer">
                        <h3>Account</h3>
                        <p>My Account</p>
                        <p>My Wishlist</p>
                        <p>My Cart</p>
                        <p>Sign in</p>
                        <p>Check out</p>
                    </div>
                    <!-- 3 -->
                    <div class="detail-content-footer">
                        <h3>Shipping</h3>
                        <p>New Products</p>
                        <p>Best Sellers</p>
                        <p>Manufacturers</p>
                        <p>Suppliers</p>
                        <p>Specials</p>
                    </div>
                    <!-- 4 -->
                    <div class="detail-content-footer">
                        <h3>Contact Us</h3>
                        <p>Phone: (+63) 555 1212</p>
                        <p>Fax: (+63) 555 0100</p>
                        <p>New York,96th Street, NY 10129</p>
                    </div>

                </div>
            </div>
            <!-- 2 -->
            <div class="wrapper-footer2">
                <div class="logo-footer">
                    <img src="../img/logoOnly.jpg">
                    <span>NOAT Store</span>
                </div>
                <div class="license">
                    <p>2023 - coder by NTT</p>
                </div>
            </div>
        </footer>

    </body>
</html>