<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log in</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="wapper-heading">
                <h1>Log in</h1>
            </div>
            <form action onsubmit="login()">
                <!-- 1 -->
                <div class="inout-field">
                    <input id="username" type="text" placeholder="User name">
                </div>
                <!-- 2 -->
                <div class="inout-field">
                    <input id="email" type="email" placeholder="Email">
                </div>
                <!-- 3 -->
                <div class="inout-field">
                    <input id="password" type="password" placeholder="Password">
                </div>

                <a href="./TestSignin.html">Sign Up</a>
                <button id="btnSignup">Log innn</button>
            </form>
        </div>

        <script src="../js/TestSignUp.js"></script>
    </body>
</html>