<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign IN</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="wapper-heading">
                <h1>Sign in</h1>
            </div>
            <form action onsubmit="signup()">
                <!-- 1 -->
                <div class="inout-field">
                    <input id="username" type="text" placeholder="User name">
                </div>
                <!-- 1 -->
                <div class="inout-field">
                    <input id="email" type="email" placeholder="Email">
                </div>
                <!-- 1 -->
                <div class="inout-field">
                    <input id="password" type="password" placeholder="Password">
                </div>
                <!-- 1 -->
                <div class="inout-field">
                    <input id="Password" type="text" placeholder="Confirm Password">
                </div>
                <a href="./TestLoginn.html">Login</a>
                <button id="btnSignup">Sign up</button>
            </form>
        </div>

        <script src="../js/TestSignUp.js"></script>
    </body>
</html>